@import "mixins";

.battle-area {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.players-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}

.enemies-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
}

.hp-button {
  border: none;
  background: none;
  color: $text-color;
  padding: 0;

  &:first-child {
    margin-right: .25rem!important;
  }
}

.enemy-header {
  display: flex;
  color: $text-color;
  font-size: 32px;
  justify-content: center;
  justify-items: center;

  .line {
    align-self: center;
    height: 3px;
    border: $second-color;
    border-radius: 1.5px;
  }

  label {
    margin: 0 1rem;
  }
}

.button-wrapper {
  width: 300px;
  height: 118px;
  display: flex;
  justify-content: center;
  margin-right: 24px;
}

.add-card {
  height: 58px;
  width: 180px;
  border-radius: 20px;
  border: none;
  color: $text-color;
  align-self: center;
  background: $second-color;
  transition: .15s;
  box-shadow: 0 4px rgba(0, 0, 0, .25);

  &:hover {
    color: $text-color;
    background: $active-color;
  }
}
