.players-area {
  width: 100%;
}

.enemys-area {
  height: 50%;
  width: 100%;
}

.player-card {
  height: 118px;
  width: 300px;
  color: white;
  border-radius: 20px;
  background: rgba(71, 118, 230, .3);
}

.hp-button {
  border: none;
  background: none;
  color: white;
  padding: 0;

  &:first-child {
    margin-right: .25rem!important;
  }
}

.enemy-header {
  display: flex;
  color: white;
  font-size: 32px;
  justify-content: center;
  justify-items: center;

  .line {
    align-self: center;
    height: 3px;
    border: rgba(96, 107, 133, 0.5);
    border-radius: 1.5px;
  }

  label {
    margin: 0 1rem;
  }
}