@import "mixins";

.sidebar {
  @include sidebar;
}

.battleOrder {

  .order-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $base-color;

    .initiative-button {
      border: none;
      width: 100%;
      border-radius: 0 0 0 0;
    }
  }

  .order-button {
    border: none;
    border-radius: 0 20px 0 0;
    &:first-child {

      border-radius: 20px 0 0 0;
    }
  }
}

.initiative-cell {
  color: $text-color;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  border-radius: 14px;
  padding: 0 1rem;
  background: $inactive-color;
  height: 28px;

  &.active {
    background: $active-color;
  }

  .initiative-input {
    @include custom-input;
  }

  label {
    margin-left: 1rem;
  }
}

