@import "mixins";

.sidebar {
  height: calc(100VH - 54px);
  width: 15%;
  margin: 0 .5rem;
  border-radius: 20px;
  background: rgba(96, 106, 133, 0.5);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 54px;
  box-shadow: 0 4px rgba(0, 0, 0, .25);
}

.battleOrder {

  .order-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #20222c;

    .initiative-button {
      border: none;
      width: 100%;
      border-radius: 0 0 0 0;
    }
  }

  .order-button {
    border: none;
    border-radius: 0 20px 0 0;
    &:first-child {

      border-radius: 20px 0 0 0;
    }
  }
}

.initiative-cell {
  color: white;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  border-radius: 14px;
  padding: 0 1rem;
  background: rgba(96, 107, 133, 0.5);
  height: 28px;

  &.active {
    background: rgba(71, 118, 230, 0.3);
  }

  .initiative-input {
    @include custom-input
  }

  label {
    margin-left: 1rem;
  }
}

