@import "mixins";

.ability-box {
  background: rgba(71, 118, 230, 0.3);
  height: 33px;
  width: 35px;
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 5px;
}

.stat-wrapper {
  display: flex;
  justify-content: space-between;
  margin: .25rem 0;
}

.player-card {
  width: 300px;
  color: white;
  border-radius: 20px;
  background: rgba(71, 118, 230, .3);
  margin-right: 24px;
  margin-bottom: 24px;
  box-shadow: 0 4px rgba(0, 0, 0, .25);

  .player-card-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
  }

  .player-card-body {
    padding: 0 0.5rem;
  }

  .player-card-footer {
    padding: .5rem;
  }

  .card-name {
    padding: 0 5px;
    transition: .2s;

    &:hover {
      color: black;
      background: #fff;
      border-radius: 5px;
    }
  }

  .hp-input {
    @include custom-input
  }

  hr {
    margin: .5rem 0;
  }

  .custom-list {
    margin: .5rem 0 0 0;
    padding: 0;
    border: 1px white;
    border-radius: 5px;

    li {
      list-style-type: none;

      &:nth-of-type(2n-1) {
        background: rgba(71, 118, 230, .3);;
      }
    }

    .custom-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 .25rem;

      .enemy-hp {
        margin-left: .25rem;
        color: white;
        width: 36px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        border: rgba(0, 0, 0, .25) 2px solid ;
        background: rgba(71, 118, 230, 0.3);
      }

      .enemy-delete {
        @include icon-button(rgba(71, 118, 230, 0), darkred, 50%);
      }
    }
  }

  .add-button {
    @include icon-button(rgba(71, 118, 230, 0), rgb(71, 118, 230, 1), 3px)
  }
}

