@import "mixins";

.ability-box {
  background: lighten($inactive-color, 20%);
  height: 33px;
  width: 35px;
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 5px;
}

.stat-wrapper {
  display: flex;
  justify-content: space-between;
  margin: .25rem 0;
}

.player-card {
  width: 300px;
  color: $text-color;
  border-radius: 20px;
  background: $inactive-color;
  margin-right: 24px;
  margin-bottom: 24px;
  box-shadow: 0 4px rgba(0, 0, 0, .25);

  .player-card-header {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .card-name {
      padding: 0.5rem;
      transition: .2s;
      border-radius: 20px 20px 0 0;
      flex: 1;

      &.player {
        border-radius: 20px 0 0 0;
      }

      &:hover {
        background: $active-color;
      }
    }

    .card-hp {
      padding: 0.5rem;
    }
  }

  .player-card-body {
    padding: 0 0.5rem;
  }

  .player-card-footer {
    padding: .5rem;
  }

  .hp-input {
    @include custom-input
  }

  hr {
    margin: .5rem 0;
  }

  .custom-list {
    margin: .5rem 0 0 0;
    padding: 0;
    border-radius: 5px;

    li {
      list-style-type: none;

      &:nth-of-type(2n-1) {
        background: lighten($inactive-color, 20%);
      }
    }

    .custom-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px .25rem;

      .enemy-hp {
        margin-left: .25rem;
        color: $text-color;
        width: 36px;
        border-radius: 5px;
        text-align: center;
        align-self: center;
        border: $inactive-color 1px solid ;
        background: lighten($inactive-color, 20%);

        &:focus-visible {
          outline: none;
        }
      }

      .enemy-delete {
        @include icon-button(transparent, darkred, 50%);
      }
    }
  }

  .add-button {
    @include icon-button($inactive-color, $active-color, 3px)
  }
}

