@import "mixins";
/*
$second-color: #464866;
$base-color: darken(var(--second-color), 20%);
$inactive-text: #29648A;
$text-color: #2E9CCA;
$inactive-color: #25274D;
$active-color: lighten(var(--inactive-color), 20%);
*/

html {
  --second-color: #464866;
  --base-color: #383A52;
  --inactive-text: #29648A;
  --text-color: #2E9CCA;
  --inactive-color: #25274D;
  --active-color: #3F4282;

  background: var(--base-color);
  > * {
    background: inherit;
  }
}

.wrapper {
  display: flex;
  padding-top: 0.5rem;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--text-color);
    text-decoration: none;
  }

  &:not([href]):not([class]) {
    color: var(--text-color);
    text-decoration: none;
  }

  &:not([href]):not([class]):hover {
    color: var(--text-color);
    text-decoration: none;
  }
}

p {
  margin: 0;
}

.stat-button {
  margin-left: -1px;
  min-width: 46px;
}

.line {
  height: 1px;
  width: 100%;
  background: var(--second-color);
}

::-webkit-scrollbar {
  display: none;
}

.delete-button {
  border: none;
  background: none;
  color: var(--text-color);
  padding: 0;

  &:hover {
    color: darkred;
  }
}

.custom-button {
  border: var(--inactive-color) 1px solid;
  border-radius: 20px;
  background: transparent;
  color: var(--text-color);
  padding: 0.5rem;

  &:hover {
    background: var(--active-color);
  }

  &.delete {
    border: darkred 1px solid;

    &:hover {
      background: darkred;
    }
  }
}

.row {
  --col-space: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-.5 * var(--col-space));
  margin-left: calc(-.5 * var(--col-space));

  .col {
    flex: 1 0 0;
  }
}