@import "mixins";

html {
  background: $base-color;
  > * {
    background: inherit;
  }
}

.wrapper {
  display: flex;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  &:not([href]):not([class]) {
    color: $text-color;
    text-decoration: none;
  }

  &:not([href]):not([class]):hover {
    color: $text-color;
    text-decoration: none;
  }
}

p {
  margin: 0;
}

.stat-button {
  margin-left: -1px;
  min-width: 46px;
}

.line {
  height: 1px;
  width: 100%;
  background: $second-color;
}

::-webkit-scrollbar {
  display: none;
}

.delete-button {
  border: none;
  background: none;
  color: $text-color;
  padding: 0;

  &:hover {
    color: darkred;
  }
}

.custom-button {
  border: $inactive-color 1px solid;
  border-radius: 20px;
  background: transparent;
  color: $text-color;
  padding: 0.5rem;

  &:hover {
    background: $active-color;
  }

  &.delete {
    border: darkred 1px solid;

    &:hover {
      background: darkred;
    }
  }
}