@import "mixins";

.custom-modal {
  background: var(--second-color);
  color: var(--text-color);

  .modal-header {
    border-bottom: var(--base-color) 1px solid;
  }

  .modal-footer {
    border-top: var(--base-color) 1px solid;
  }

  input, textarea {
    background: var(--inactive-color);
    border: var(--active-color) 1px solid;
    color: var(--text-color);
    border-radius: 5px;

    &:focus {
      border: hsl(var(--active-color), 120%) 1px solid;
    }

    &:focus ~ span,
    &:not(&:placeholder-shown) ~ span{
      background: var(--inactive-color);
      border-left: var(--active-color) 1px solid;
      border-right: var(--active-color) 1px solid;
      color: var(--text-color);
    }
  }
}