$second-color: #464866;
$base-color: darken($second-color, 20%);
$inactive-text: #29648A;
$text-color: #2E9CCA;
$inactive-color: #25274D;
$active-color: lighten($inactive-color, 20%);

@mixin custom-input {
  color: $text-color;
  height: 20px;
  width: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  align-self: center;
  border: rgba(0, 0, 0, .25) 2px solid ;
  background: rgba(71, 118, 230, 0);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus-visible {
    outline: none;
  }
}

@mixin icon-button ($bg-color, $hv-color, $brd-radius) {
  color: $text-color;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  background: $bg-color;

  &:hover {
    background: $hv-color;
    border-radius: $brd-radius;
  }
}

@mixin sidebar {
  --navbar-height: 48px;
  height: calc(100VH - var(--navbar-height) - 0.5rem);
  width: 15%;
  margin: 0 .5rem;
  border-radius: 20px;
  background: $second-color;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--navbar-height);
  box-shadow: 0 4px rgba(0, 0, 0, .25);
}