@import "mixins";

.navbar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--inactive-color);

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
  }

  .theme-button {
    --size: 24px;
    border: none;
    border-radius: 12px;
    background: transparent;
    height: var(--size);
    width:  var(--size);
    padding: 0;
    color: var(--text-color);

    &:hover {
      background: var(--active-color);
    }
  }
}