@import "mixins";

.dice-group {
  color: var(--text-color);
  border-radius: 0 0 20px 20px;
  align-self: center;
  border: rgba(0, 0, 0, .25) 1px solid;
  background: var(--inactive-color);
  width: 100%;
  display: flex;

  .dice-input {
    border-radius: 0 0 0 20px;
    background: var(--inactive-color);
    border: none;
    color: var(--text-color);
    padding: 0 0.75em;
    height: 100%;
    flex-grow: 1;

    &:focus {
      background: var(--active-color);
      color: var(--text-color);
      box-shadow: none;
    }
  }

  .dice-button {
    border-radius: 0 0 20px 0;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.throw-container {
  flex-grow: 1;
  overflow-y: auto;
}

.throw-cell {
  color: var(--text-color);
  display: flex;
  align-items: center;
  margin: 0.5rem;
  border-radius: 14px;
  padding: 0 1rem;
  height: 28px;
}

.common {
  background: var(--active-color);
}

.critical {
  background: rgba(230, 195, 71, 0.3);
}

.fail {
  background: rgba(230, 71, 71, 0.3);
}


