@import "mixins";

.dice-group {
  color: $text-color;
  border-radius: 0 0 20px 20px;
  align-self: center;
  border: rgba(0, 0, 0, .25) 1px solid;
  background: $inactive-color;
  width: 100%;

  .dice-input {
    border-radius: 0 0 0 20px;
    background: $inactive-color;
    border: none;
    color: $text-color;

    &:focus {
      background: $active-color;
      color: $text-color;
      box-shadow: none;
    }
  }

  .dice-button {
    border-radius: 0 0 20px 0;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.throw-container {
  flex-grow: 1;
  overflow-y: auto;
}

.throw-cell {
  color: $text-color;
  display: flex;
  align-items: center;
  margin: 0.5rem;
  border-radius: 14px;
  padding: 0 1rem;
  height: 28px;
}

.common {
  background: $active-color;
}

.critical {
  background: rgba(230, 195, 71, 0.3);
}

.fail {
  background: rgba(230, 71, 71, 0.3);
}


